@use "sass:math";
@use "functions" as *;

// 1. АДАПТИВНЫЙ ТЕКСТ (Улучшенная версия)
@mixin fluid-text($max: 44, $min: 15, $line-height: null) {
  font-size: fluid($max, $min);

  @if $line-height {
    @if math.is-unitless($line-height) {
      line-height: $line-height;
    } @else {
      $unitless-lh: math.div($line-height, 1px);
      line-height: math.div($unitless-lh, $max);
    }
  }
}

// 2. БЫСТРЫЙ ФЛЕКС-ЦЕНТР
@mixin flex-center($isInline: false) {
  @if $isInline {
    display: inline-flex;
  } @else {
    display: flex;
  }

  justify-content: center;
  align-items: center;
}

// 3. СКРЫТЫЙ ЭЛЕМЕНТ (Для SEO и скринридеров)
@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}
