.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.swiper-wrapper {
  min-width: 0;
  position: relative;
}

.swiper-wrapper .slick-arrow {
  z-index: 5;
  width: 5.2rem;
  height: 5.2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 0.2rem solid #f1cdb3;
  border-radius: 2.6rem;
  position: absolute;
  top: 44%;
  font-size: 0;

  outline: transparent;
}

.swiper-wrapper .slick-arrow.slick-prev {
  left: calc(50% - 600px - 0px);
  right: auto;
  background: center url(../../../assets/icons/arrow.svg) no-repeat, #F6F6F6;
}

.swiper-wrapper .slick-arrow.slick-next {
  transform: rotate(180deg);
  right: calc(50% - 600px - 0px);
  left: auto;
  background: center url(../../../assets/icons/arrow.svg) no-repeat, #F6F6F6;
}

.swiper-wrapper .slick-arrow.slick-prev:hover {
  cursor: pointer;
  background: center url(../../../assets/icons/arrow.svg) no-repeat, #f1cdb3;
}

.swiper-wrapper .slick-arrow:hover {
  cursor: pointer;
  background: center url(../../../assets/icons/arrow.svg) no-repeat, #f1cdb3;
}

.our-friends-pet {
  text-align: center;
  margin: auto;
}

@media (max-width: 1224px) {
  .swiper-wrapper .slick-arrow.slick-prev {
    left: calc(50% - 600px + 35px);
    right: auto;
  }

  .swiper-wrapper .slick-arrow.slick-next {
    right: calc(50% - 600px + 35px);
    left: auto;
  }
}

@media (max-width: 1150px) {
  .swiper-wrapper .slick-arrow.slick-prev {
    left: calc(50% - 600px + 100px);
    right: auto;
  }

  .swiper-wrapper .slick-arrow.slick-next {
    right: calc(50% - 600px + 100px);
    left: auto;
  }
}

@media (max-width: 1040px) {
  .swiper-wrapper .slick-arrow.slick-prev {
    left: calc(50% - 600px + 135px);
    right: auto;
  }

  .swiper-wrapper .slick-arrow.slick-next {
    right: calc(50% - 600px + 135px);
    left: auto;
  }
}

@media (max-width: 955px) {
  .swiper-wrapper .slick-arrow.slick-prev {
    left: calc(50% - 600px + 175px);
    right: auto;
  }

  .swiper-wrapper .slick-arrow.slick-next {
    right: calc(50% - 600px + 175px);
    left: auto;
  }
}

@media (max-width: 874px) {
  .swiper-wrapper .slick-arrow.slick-prev {
    left: calc(50% - 600px + 190px);
    right: auto;
  }

  .swiper-wrapper .slick-arrow.slick-next {
    right: calc(50% - 600px + 190px);
    left: auto;
  }
}

@media (max-width: 849px) {
  .swiper-wrapper .slick-arrow.slick-prev {
    left: calc(50% - 600px + 230px);
    right: auto;
  }

  .swiper-wrapper .slick-arrow.slick-next {
    right: calc(50% - 600px + 230px);
    left: auto;
  }
}

@media (max-width: 768px) {
  .swiper-wrapper .slick-arrow.slick-prev {
    left: calc(50% - 600px + 246px);
    right: auto;
  }

  .swiper-wrapper .slick-arrow.slick-next {
    right: calc(50% - 600px + 246px);
    left: auto;
  }
}

@media (max-width: 750px) {
  .swiper-wrapper {
    display: flex;
    justify-content: center;
    order: 1;
  }

  .swiper-wrapper .slick-arrow.slick-prev {
    order: 2;
    top: 104.7%;
    left: calc(50% - 600px + 508px);
    right: auto;
  }

  .swiper-wrapper .slick-arrow.slick-next {
    order: 3;
    top: 104.7%;
    right: calc(50% - 600px + 508px);
    left: auto;
  }
}
