@font-face {
  font-family: 'Georgia';
  font-style: normal;
  font-display: swap;
  src: url("../../../assets/fonts/Georgia.ttf");
}

@font-face {
  font-family: 'Georgia';
  font-style: italic;
  font-display: swap;
  src: url("../../../assets/fonts/Georgia-Italic.ttf");
}

@font-face {
  font-family: 'Arial';
  font-style: normal;
  font-display: swap;
  src: url("../../../assets/fonts/ArialMT.ttf");
}

@font-face {
  font-family: 'Arial';
  font-style: italic;
  font-display: swap;
  src: url("../../../assets/fonts/Arial-ItalicMT.ttf");
}

:root {
  font-size: 10px;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

body.lock {
  overflow-y: hidden;
}

.back {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, .6);
  display: none;
  z-index: 3;
  cursor: pointer;
}

.wrapper {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.background-header {
  background: url("../../../assets/images/noise_transparent@2x.png") repeat,
  radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  width: 100%;
}

.header {
  width: 100%;
  padding-top: 6.1rem;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-title {
  margin: 0 0 1rem;
  font-family: 'Georgia', serif;
  font-weight: normal;
  font-size: 3.2rem;
  line-height: 110%;
  align-items: center;
  letter-spacing: 0.21rem;
  color: #f1cdb3;
}

.header-subtitle {
  margin: 0;
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 110%;
  align-items: center;
  letter-spacing: 0.13rem;
  color: #fff;
}

.header-menu-burger {
  display: none;
}

.burger-menu {
  display: none;
}

.header-list {
  width: 44.3rem;
  padding: 0;
  margin-top: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-item {
  list-style: none;
}

.header-item-link {
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 160%;
  text-decoration: none;
  color: #cdcdcd;
}

.header-item-link:hover,
.header-item-link.active {
  color: #fff;
}

.header-item-link:active {
  border-bottom: 3px solid #f1cdb3;
  border-radius: 1.5px;
}

a.header-item-link.active {
  border-bottom: 3px solid #f1cdb3;
  border-radius: 1.5px;
}

a.neactivia {
  pointer-events: none;
}

/*------------- not-only -------------*/

.not-only {
  width: 100%;
  margin-top: 6rem;
}

.not-only-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.not-only-content {
  padding-bottom: 9.6rem;
}

.not-only-heading {
  max-width: 31rem;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  font-size: 4.4rem;
  line-height: 130%;
  color: #fff;
}

.not-only-subheading {
  max-width: 47rem;
  margin: 4.2rem 0 5.7rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 160%;
  color: #cdcdcd;
}

.not-only-button {
  padding: 1.5rem 4.5rem 1.6rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 112%;
  letter-spacing: 0.11rem;
  text-decoration: none;
  color: #292929;
  background: #f1cdb3;
  border-radius: 2.6rem;
}

.not-only-button:hover {
  background: #fddcc4;
}

.not-only-image {
  display: block;
}

/*------------- about ----------------*/

.about {
  padding: 7.4rem 0 8.8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10%;
}

.about-image {
  margin-top: 0;
  margin-bottom: 0.5rem;
  display: block;
}

.about-heading {
  max-width: 37rem;
  margin: 1.9rem 0 2.5rem 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
  color: #545454;
}

.about-subheading {
  max-width: 43rem;
  margin: 0 0 2.6rem 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 160%;
  color: #4c4c4c;
}

/*------------- our-friends ----------*/

.background-main {
  padding: 8.1rem 0 10rem;
  background: #f6f6f6;
  width: 100%;
}

.our-friends {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.our-friends-heading {
  max-width: 40rem;
  margin: 0 0 5.9rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.21rem;
  color: #545454;
}

.our-friends-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.swiper-container {
  position: static;
}

.our-friends-pets {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto 6.1rem;
  display: flex;
  justify-content: space-between;
}

.arrow-back-block,
.arrow-forward-block {
  z-index: 2;
  width: 4.6rem;
  height: 4.6rem;
  margin-bottom: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid #f1cdb3;
  border-radius: 2.3rem;
  opacity: 1;
}

.arrow-back-block {
  left: calc(50% - 600px - 70px);
  right: auto;
}

.arrow-forward-block {
  transform: rotate(180deg);
  right: calc(50% - 600px - 70px);
  left: auto;
}

.arrow-forward-block:hover,
.arrow-back-block:hover {
  background: #f1cdb3;
  cursor: pointer;
}

.our-friends-pet {
  background: #fafafa;
  border-radius: 0.9rem;
  min-width: 27rem;
}

.our-friends-pet:hover {
  cursor: pointer;
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
  background: #FFFFFF;
}

.our-friends-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-friends-image > img {
  width: 100%;
  max-width: 270px;
}

.our-friends-name {
  margin: 3rem 0 3rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  text-align: center;
  letter-spacing: 0.12rem;
  color: #545454;
}

.our-friends-button-box {
  padding: 1.5rem 0 1.4rem;
  margin: 0 auto 3rem auto;
  max-width: 18.7rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 112%;
  text-align: center;
  letter-spacing: 0.1rem;
  border: 0.2rem solid #f1cdb3;
  border-radius: 2.6rem;
}

.our-friends-button-box:hover {
  background: #fddcc4;
}

.our-friends-button-learn-more {
  padding: 1.6rem 4.3rem;
  color: #292929;
  text-decoration: none;
}

.our-friends-button-block {
  padding: 1.6rem 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 112%;
  letter-spacing: 0.11rem;
  background: #f1cdb3;
  border-radius: 2.6rem;
}

.our-friends-button-block:hover {
  background: #fddcc4;
}

.our-friends-button {
  padding: 1.5rem 4.5rem;
  color: #292929;
  text-decoration: none;
}

/*------------- than -----------------*/

.than {
  padding: 8rem 0 4.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.than-heading {
  max-width: 31rem;
  margin: 0 0 5.9rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.21rem;
  color: #545454;
}

.than-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
}

.than-item {
  margin-bottom: 5.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5.9rem;
}

.icon-help {
  width: 6rem;
  height: 6rem;
}

.than-text {
  margin: 2.9rem 0 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  text-align: center;
  letter-spacing: 0.14rem;
  color: #545454;
}

/*------------- in-addition ----------*/

.background-in-addition {
  padding: 8.1rem 0 9.9rem;
  background: #f6f6f6;
  width: 100%;
}

.in-addition {
  display: flex;
  justify-content: center;
  align-items: center;
}

.in-addition-image {
  display: block;
  margin: 0.0rem 3rem 0 0;
}

.in-addition-credit-card-img {
  width: 3rem;
}

.in-addition-heading {
  max-width: 30rem;
  margin: 0 0 2.0rem;

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
  color: #545454;
}

.in-addition-subheading {
  max-width: 31rem;
  margin: 0 0 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.09rem;
  color: #545454;
}

.in-addition-credit-card {
  margin-bottom: 2rem;
}

.in-addition-link {
  max-width: 33.5rem;
  padding: 0.7rem 0 0.7rem 1.5rem;
  display: flex;
  justify-content: start;
  align-items: center;

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
  text-decoration: none;
  color: #545454;
  background: #f1cdb3;
  border-radius: 0.9rem;
}

.in-addition-link:hover {
  background: #fddcc4;
}

.in-addition-credit-card-img {
  margin-right: 1.5rem;
}

.in-addition-text {
  max-width: 38rem;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 150%;
  color: #b2b2b2;
}

/*------------- footer ---------------*/

.background-footer {
  background: url('../../../assets/images/noise_transparent@2x.png') repeat,
  radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  width: 100%;
}

.footer {
  padding: 3.6rem 0 0;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-title {
  max-width: 28rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
  color: #ffffff;
}

.footer-title-contacts {
  margin: 2.1rem 0 3.6rem;
}

.footer-title-location {
  margin: 2.1rem 0 3.3rem 1.2rem;
}

.footer-link {
  display: flex;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
  text-decoration: none;
  color: #f1cdb3;
}

.footer-icon {
  margin-right: 2rem;
}

.footer-icon2 {
  margin-right: 1.5rem;
}

.footer-email {
  margin-bottom: 3.2rem;
}

.footer-location-point {
  margin-bottom: 3.3rem;
  margin-left: 0.5rem;
}

.footer-email-img,
.footer-phone-img {
  width: 4rem;
}

.footer-location-point-img {
  width: 3.2rem;
}

.footer-image {
  display: block;
}

.footer-location-point-text {
  max-width: 27.5rem;
}

/*------------- media ----------------*/

@media (max-width: 1280px) {
  .wrapper {
    padding: 0 4rem;
  }

  .our-friends {
    padding: 0 2.5%;
  }

  .in-addition {
    padding: 0 2.5%;
  }
}

@media (max-width: 1010px) {
  .not-only-wrapper {
    display: flex;
    flex-direction: column;
  }

  .our-friends-pet:nth-child(3) {
    display: none;
  }

  .arrow-back-block,
  .arrow-forward-block {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 5.2rem;
  }

  .not-only-button-block {
    max-width: 220px;
    margin: 0 auto;
  }

  .not-only-subheading {
    margin: 4.2rem 0 5.8rem;
  }

  .than-item {
    margin-bottom: 5.3rem;
    padding: 0 0.9rem;
    flex-basis: 30%;
  }

  .in-addition {
    flex-direction: column;
  }

  .in-addition-image {
    order: 2;
    margin-right: 0.1rem;
  }

  .in-addition-information {
    order: 1;
    margin-bottom: 5.9rem;
  }

  .footer-wrapper {
    flex-wrap: wrap;
    align-items: center;
  }

  .footer-location,
  .footer-contacts {
    flex-basis: 50%;
  }

  .footer-image {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
}

@media (max-width: 850px) {
  .our-friends-pets {
    max-width: 620px;
  }
}

@media (max-width: 768px) {
  .header {
    padding-top: 3rem;
  }

  .not-only {
    margin-top: 6.1rem;
  }

  .wrapper {
    padding: 0 3rem;
  }

  .not-only-content {
    margin-left: 1rem;
    padding-bottom: 11.5rem;
  }

  .not-only-image {
    width: 80.6%;
    align-self: flex-end;
    margin-right: 0;
  }

  .about {
    flex-direction: column;
    padding: 6.1rem 0 9.3rem 0;
  }

  .about-image {
    order: 2;
  }

  .about-content {
    order: 1;
    margin-right: 0.0rem;
    margin-bottom: 8.0rem;
  }

  .about-subheading {
    max-width: 43.6rem;
    margin: 2.5rem 0 0 0;
  }

  .background-main {
    padding: 8.1rem 0 10rem;
  }

  .our-friends-heading {
    margin: 0 0 5.9rem;
  }

  .our-friends {
    padding: 0 3rem;
  }

  .our-friends-pets {
    padding: 0 14px;
  }

  .arrow-back-block,
  .arrow-forward-block {
    width: 5.6rem;
    margin-bottom: 6.2rem;
    margin-left: 0;
    margin-right: 0;
  }

  .than {
    padding: 8.1rem 0 4.8rem;
  }

  .background-in-addition {
    padding: 8.1rem 0 9.8rem;
  }

  .in-addition-heading {
    margin: 0 0 2rem;
  }

  .footer {
    padding: 0 0 0;
  }

  .footer-wrapper {
    padding: 0 6.5rem;
  }

  .footer-title-contacts {
    margin: 0 0 3.6rem;
  }

  .footer-title-location {
    margin: 3.1rem 0 3.3rem 2rem;
  }

  .footer-location-point {
    margin-bottom: 3.3rem;
    margin-left: 1.3rem;
  }

  .footer-image {
    margin-top: 2.8rem;
  }
}

@media (max-width: 767px) {
  .header-title-burger-menu {
    margin: 0 0 1rem;
    font-family: 'Georgia', serif;
    font-weight: normal;
    font-size: 3.2rem;
    line-height: 110%;
    align-items: center;
    letter-spacing: 0.21rem;
    color: #f1cdb3;
  }

  .header-subtitle-burger-menu {
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 110%;
    align-items: center;
    letter-spacing: 0.13rem;
    color: #fff;
  }

  .header-item-link {
    font-family: 'Arial', sans-serif;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 160%;
    text-decoration: none;
    color: #cdcdcd;
  }

  .burger-menu {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 155px;
    align-items: center;
  }

  .header-menu-burger-burger-menu {
    transition: all 1s ease 0.6s;
    margin-right: 45px;
  }

  .header-menu-burger-burger-menu.xxx {
    transform: rotate(90deg);
    margin-right: 45px;
    cursor: pointer;
  }

  .header-logo-burger-menu {
    margin-left: 20px;
  }

  .header-list {
    flex-direction: column;
    align-self: center;
  }

  .header-menu-burger {
    display: block;
    opacity: 1;
    margin-right: 5.3rem;
    position: relative;
    width: 30px;
    height: 22px;
    cursor: pointer;
    transition: all 0.6s ease 0s;
  }

  .header-menu-burger.xxx {
    margin-left: 170px;
    transform: rotate(90deg);
    display: block;
    opacity: 0;
  }

  .header-menu {
    z-index: 5;
    position: fixed;
    top: 0;
    right: -500px;
    width: 30rem;
    height: 100%;
    background: #292929;
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
    transition: all 1s ease 0s;
    overflow-y: auto;
  }

  .header-menu.xxx {
    right: 0;
  }

  .header-item {
    margin-bottom: 41px;
    margin-left: 20px;
  }
}

@media (max-width: 750px) {
  .our-friends-pet:nth-child(2) {
    display: none;
  }

  .our-friends-pets {
    order: 1;
    justify-content: center;
    margin: 0 0 1.3rem;
    max-width: 270px;
  }


  .our-friends-main {
    flex-wrap: wrap;
    justify-content: center;
  }

  .arrow-back-block {
    order: 2;
    width: 4.6rem;
    margin-left: 4.3rem;
    margin-right: 4.3rem;
    margin-bottom: 4.2rem;
  }

  .arrow-forward-block {
    order: 3;
    width: 4.6rem;
    margin-left: 4.3rem;
    margin-right: 4.3rem;
    margin-bottom: 4.2rem;
  }

  .footer-location,
  .footer-contacts,
  .footer-image {
    flex-basis: 100%;
  }

  .in-addition-image > img {
    width: 100%;
  }

  .footer-wrapper {
    padding: 3rem 6.5rem 0;
    text-align: center;
  }

  .footer-title-location {
    margin: 3.1rem 0 3.5rem 0;
  }

  .footer-location-point {
    margin-bottom: 3.3rem;
    margin-left: 0;
  }

  .footer-contacts,
  .footer-location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 598px) {
  .than-item:nth-child(9) {
    flex-basis: 100%;
    margin-right: 170px;
  }

  .footer-image > img {
    max-width: 29.9rem;
    width: 100%;
  }
}

@media (max-width: 548px) {
  .than-item:nth-child(9) {
    flex-basis: 100%;
    margin-right: 152px;
  }
}

@media (max-width: 498px) {
  .than-item:nth-child(9) {
    flex-basis: 100%;
    margin-right: 135px;
  }
}

@media (max-width: 448px) {
  .than-item:nth-child(9) {
    flex-basis: 100%;
    margin-right: 117px;
  }
}

@media (max-width: 370px) {
  .wrapper {
    padding: 0 1rem;
  }

  .header-menu-burger {
    display: block;
    margin-right: 1rem;
    margin-top: 1.5rem;
  }

  .not-only-content {
    margin-left: 0;
    text-align: center;
    padding-bottom: 12.2rem;
  }

  .not-only-heading {
    max-width: 26.4rem;
    margin-left: 1.9rem;
    font-size: 2.4rem;
    letter-spacing: 0.2rem;
    margin-right: 0;
    line-height: 136%;
  }

  .not-only-image {
    width: 87%;
  }

  .about {
    padding: 2.3rem 1rem 3.5rem 1rem;
  }

  .about-heading {
    font-size: 2.4rem;
    text-align: center;
    line-height: 139%;
    margin-bottom: 2.3rem;
  }

  .about-subheading {
    font-size: 1.5rem;
    text-align: justify;
    padding: 0 0.5rem;
    margin-top: 0;
    margin-bottom: 2.2rem;
  }

  .about-content {
    margin-bottom: 1.9rem;
  }

  .background-main {
    padding: 4.2rem 0 4.3rem;
  }

  .our-friends {
    padding: 0 1rem;
  }

  .our-friends-heading {
    font-size: 2.5rem;
    letter-spacing: 0.15rem;
    margin: 0 0 4.2rem;
  }

  .than {
    padding: 4.2rem 0 1.2rem;
  }

  .than-heading {
    font-size: 2.5rem;
    letter-spacing: 0.14rem;
    padding: 0 4rem;
    margin: 0 0 4.2rem;
  }

  .than-item {
    margin-bottom: 3rem;
    padding: 0;
    flex-basis: 50%;
  }

  .icon-help {
    width: 5rem;
    height: 5rem;
  }

  .than-text {
    margin: 1.9rem 0 0;
    font-size: 1.5rem;
    line-height: 110%;
    letter-spacing: 0.08rem;
  }

  body > div.wrapper:nth-child(4) {
    padding: 0;
  }

  .than-item:nth-child(9) {
    flex-basis: 100%;
    margin-right: 185px;
  }

  .background-in-addition {
    padding: 4.2rem 0 4.1rem;
  }

  .in-addition {
    padding: 0 1rem;
  }

  .in-addition-heading {
    max-width: 22.5rem;
    font-size: 2.4rem;
    text-align: center;
    line-height: 139%;
    letter-spacing: 0.2rem;
    margin-left: 3.9rem;
  }

  .in-addition-subheading {
    font-size: 1.31rem;
    text-align: justify;
    line-height: 160%;
    letter-spacing: 0.09rem;
    margin: 0 1.1rem 2.1rem 1.15rem;
  }

  .in-addition-credit-card {
    margin: 0 0.9rem 2rem 0.9rem;
  }

  .in-addition-link {
    max-width: 33.5rem;
  }

  .in-addition-number-credit-card {
    font-size: 1.5rem;
    line-height: 110%;
    letter-spacing: 0.09rem;
  }

  .in-addition-text {
    text-align: justify;
    max-width: 28rem;
    margin: 0 1rem 0 1rem;
  }

  .in-addition-information {
    margin-bottom: 4.2rem;
  }

  .in-addition-image {
    padding: 0 2rem;
  }

  .in-addition-image > img {
    width: 100%;
  }

  .footer-title-contacts {
    margin: 3rem 0 3.6rem;
  }

  .footer-title-location {
    margin: 3.7rem 0 3.9rem 0;
  }

  .footer-icon2 {
    margin-right: 1.5rem;
  }

  .footer-location-point {
    margin-left: 0;
    align-self: flex-start;
  }

  .footer-location-point-text {
    text-align: start;
  }

  .footer-location-point {
    margin-bottom: 4rem;
  }
}

@media (max-width: 320px) {
  body > div.background-footer > footer.footer > div.wrapper {
    padding: 0 0.5rem;
  }

  .wrapper {
    padding: 0 1rem;
  }

  .about-image {
    padding: 0 1rem;
  }

  .about-image > img {
    width: 100%;
  }

  .our-friends-button-block {
    padding: 1.8rem 0 1.6rem;
  }

  .our-friends-button {
    padding: 1.7rem 4.5rem;
  }

  .than-item:nth-child(9) {
    flex-basis: 100%;
    margin-right: 160px;
  }

  .footer-image {
    margin-top: 0.0rem;
  }

  .footer-image > img {
    max-width: 26rem;
    width: 100%;
  }

  .footer-title {
    font-size: 2.5rem;
    letter-spacing: 0.16rem;
  }

  .footer-location {
    margin-left: 0.0rem;
    margin-bottom: 0;
  }
}
